.title-container--sm
  margin-left: var(--size-6)
  margin-right: var(--size-6)
.about-map
  margin-right: auto
  margin-left: auto
.container-about--btn-map
  display: flex
  flex-direction: column
  justify-content: center
  margin-right: auto

.title-container--about
  display: flex
  flex-direction: column
.arrow--map
  display: flex
  justify-content: center

.container-about
  margin-left: var(--size-fluid-2)
  margin-right: var(--size-fluid-2)
