// @import '../styles/about.sass'

.about-arrow
  margin: var(--size-fluid-3)
  margin-left: auto
  margin-right: auto
.gap
  gap: var(--size-fluid-8)
.gap--xl
  gap: var(--size-fluid-13)
.img--about
  width: var(--size-fluid-10)
.icon--map
  margin-left: auto
  margin-right: auto
  align-self: center
.wrapper--map-btn
  display: flex
  justify-content: flex-start
.btn--map
  width: var(--size-12)
  align-self: center
.about-container
  // margin-left: var(--size-fluid-1)
  // margin-right: var(--size-fluid-1)
.about-column
  display: flex
  // justify-content: space-between
  flex-direction: column
  // gap: var(--size-12)

@media (max-width: 1024px)
  .only-desktop
    display: none
