
.container--hero--arrow
  position: relative
.hero-title
  color: hsl(var(--white))
  border-bottom: 2px solid hsl(var(--white))
.hero-subtitle
  color: hsl(var(--text))
  background-color: hsl(var(--white))
.banner--hero
  width: 100vw
  min-height: 400px
  background-image: url("../img/hero.jpg")
  place-items: center
  display: grid
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  z-index: 2
.container--hero
  display: flex
  justify-content: center
