.hero-title
  color: hsl(var(--white))
  border-bottom: 2px solid hsl(var(--white))
.hero-subtitle
  color: hsl(var(--text))
  background-color: hsl(var(--white))
.hero-banner
  width: 100vw
  min-height: 400px
  background-image: url("../img/hero.jpg")
  place-items: center
  display: grid
  background-position: center
  background-repeat: no-repeat
  background-size: cover
.hero-box
  display: flex
  justify-content: center
.logo-hero
  width: var(--size-fluid-8)
@media (max-width:1024px)
  .logo-hero
    display: none
