
.wrapper--main
    display: grid
    grid-template-rows: autso 1fr auto
    min-height: 100vh

main
    display: grid
    gap: var(--size-fluid-6)
    margin: var(--size-fluid-5) var(--size-fluid-4)
    @media (min-width:900px)
        margin-left: var(--size-fluid-7)
        margin-right: var(--size-fluid-7)
