.nav-container
    display: flex
    justify-content: space-between
    align-items: center
    padding: var(--size-fluid-2)

.nav-links,
.nav-wrapper
    display: flex
    align-content: center
    background-color: hsl(var(--primary))
    gap: var(--size-3)

.nav-wrapper
    height: var(--size-fluid-5)
.nav-links
    z-index: 999
    position: absolute
    justify-content: center
    align-items: center
    transform: translateY(-200%)
    flex-direction: column
    left: 0
    right: 0
    top: var(--size-fluid-5)
    padding: var(--size-3)
    border-bottom: 2px solid hsl(var(--gray))

.btn--menu
    border: none
    &[aria-expanded="true"] + .nav-links
        transform: translateY(0)

li[role='none'],.nav-link
    list-style-type: none
    text-align: center
    display: block
    width: 100%
    &:hover
        background-color: hsl(var(--accent))
        color: hsl(var(--text)/0.5)

@media (min-width: 900px )
    .nav-logo
        display: none
    .nav-links
        transform: translateY(0)
        flex-direction: row
        position: static
        border: none
        padding: 0
        inset: initial
    li[role='none'],.nav-link
        width: initial
        font-size: var(--font-size-0)
    .btn--menu
        display: none
