/* Utility */
.title-wrapper
  display: grid
  gap: var(--size-3)
  vertical-align: middle

.text-white
  color: hsl(var(--primary))

.text-text
  color: hsl(var(--text))

.text-primary
  color: hsl(var(--primary))

.text-accect
  color: hsl(var(--accect))

.text-accent-lite
  color: hsl(var(--accent-lite))

.bg-white
  background-color: hsl(var(--primary))

.bg-text
  background-color: hsl(var(--text))

.bg-primary
  background-color: hsl(var(--primary))

.bg-accect
  background-color: hsl(var(--accect))

.bg-accent-lite
  background-color: hsl(var(--accent-lite))

.h1
  font-size: var(--font-size-fluid-3)
  font-weight: 600
  line-height: 1.1

.h2
  font-size: var(--font-size-fluid-2)
  font-weight: 600
  line-height: 1.1

.h3
  font-size: var(--font-size-fluid-1)
  font-weight: 600
  line-height: 1.1

.btn
  color: hsl(var(--white))
  text-decoration: none
  padding: var(--size-2) var(--size-fluid-4)
  border-radius: var(--radius-1)
  border: none

.btn--primary
  background-color: hsl(var(--primary))

.wrapper
  display: flex
  justify-content: center
.column
  display: flex
  flex-direction: column
.icon--sm
  width: var(--size-5)

.icon--lg
  width: var(--size-fluid-7)
