/* Utility */
.wrapper--title
  display: grid
  gap: var(--size-3)
  vertical-align: middle

.text--white
  color: hsl(var(--primary))

.text--text
  color: hsl(var(--text))

.text--primary
  color: hsl(var(--primary))

.text--accect
  color: hsl(var(--accect))

.text--accent-lite
  color: hsl(var(--accent-lite))

.bg--white
  background-color: hsl(var(--white))

.bg--text
  background-color: hsl(var(--text))

.bg--primary
  background-color: hsl(var(--primary))

.bg--accent
  background-color: hsl(var(--accect))

.bg--gray
  background-color: hsl(var(--gray))

.bg--accent-lite
  background-color: hsl(var(--accent-lite))

.h1
  font-size: var(--font-size-fluid-3)
  font-weight: 600
  line-height: 1.1

.h2
  font-size: var(--font-size-fluid-2)
  font-weight: 600
  line-height: 1.1

.h3
  font-size: var(--font-size-fluid-1)
  font-weight: 600
  line-height: 1.1
.shadow
  box-shadow: var(--shadow-3)

/* CSS */
.btn
  border: 0 solid hsl(var(--white))
  box-sizing: border-box
  color: #000000
  display: flex
  font-size: var(--font-size-1)
  font-weight: 700
  justify-content: center
  line-height: 1.75rem
  padding: var(--size-2) var(--size-fluid-2)
  position: relative
  text-align: center
  text-decoration: none hsl(var(--text)) solid
  text-decoration-thickness: auto
  width: 100%
  max-width: 460px
  position: relative
  cursor: pointer
  transform: rotate(-2deg)
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation

  &:focus
    outline: 0

  &:after
    content: ''
    position: absolute
    border: 1px solid hsl(var(--text))
    bottom: 4px
    left: 4px
    width: calc(100% - 1px)
    height: calc(100% - 1px)

  &:hover:after
    bottom: 2px
    left: 2px

@media (min-width: 768px)
  .btn
    padding: .75rem 3rem
    font-size: 1.25rem

.btn--primary
  background-color: hsl(var(--primary))
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.wrapper
  display: flex
  justify-content: center
.column
  display: flex
  flex-direction: column
.icon--sm
  width: var(--size-5)

.icon--lg
  width: var(--size-fluid-7)

@media (max-width: 1440px)
  .only-desktop
    display: none
.grid
  display: grid

.gap--xs
  gap: var(--size-fluid-2)
.gap--sm
  gap: var(--size-fluid-4)
.gap
  gap: var(--size-fluid-8)
.p--md
  padding: var(--size-10)
.p-y--lg
  padding-top: var(--size-12)
  padding-bottom: var(--size-12)
