/* Utility */
.wrapper--title
  display: grid
  gap: var(--size-3)
  vertical-align: middle
.text
  &--white
    color: hsl(var(--primary))
  &--text
    color: hsl(var(--text))
  &--primary
    color: hsl(var(--primary))
  &--accect
    color: hsl(var(--accect))
  &--accent-lite
    color: hsl(var(--accent-lite))
.bg
  &--white
    background-color: hsl(var(--white))
  &--text
    background-color: hsl(var(--text))
  &--primary
    background-color: hsl(var(--primary))
  &--accent
    background-color: hsl(var(--accect))
  &--gray
    background-color: hsl(var(--gray))
  &--accent-lite
    background-color: hsl(var(--accent-lite))

.h1
  font-size: var(--font-size-fluid-3)
  font-weight: 600
  line-height: 1.1

.h2
  font-size: var(--font-size-fluid-2)
  font-weight: 600
  line-height: 1.1

.h3
  font-size: var(--font-size-fluid-1)
  font-weight: 600
  line-height: 1.1
.shadow
  box-shadow: var(--shadow-3)
.text-about
  max-width: 800px
/* CSS */
.btn
  border: 0 solid hsl(var(--white))
  box-sizing: border-box
  color: #000000
  display: flex
  font-weight: 700
  justify-content: center
  line-height: 1.75rem
  padding: var(--size-2) var(--size-2)
  position: relative
  text-align: center
  text-decoration: none hsl(var(--text)) solid
  text-decoration-thickness: auto
  width: 100%
  max-width: 460px
  position: relative
  cursor: pointer
  transform: rotate(-2deg)
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation

  &:focus
    outline: 0

  &:after
    content: ''
    position: absolute
    border: 1px solid hsl(var(--text))
    bottom: 4px
    left: 4px
    width: calc(100% - 1px)
    height: calc(100% - 1px)

  &:hover:after
    bottom: 2px
    left: 2px

  &--primary
    background-color: hsl(var(--primary))
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
@media (min-width: 768px)
  .btn
    padding: var(--size-2) var(--size-4)
    font-size: 1.25rem
.margin-x
  margin-left: var(--size-fluid-4)
  margin-right: var(--size-fluid-4)
  &--lg
    margin-left: var(--size-fluid-4)
    margin-right: var(--size-fluid-4)
    @media (min-width:900px)
      margin-left: var(--size-fluid-9)
      margin-right: var(--size-fluid-9)
.wrapper
  display: flex
  justify-content: center
  &--start
    display: flex
    align-content: center
    flex-direction: column
    justify-content: flex-start !important
    align-items: flex-start
  &--space
    display: flex
    justify-content: space-around !important
  &--end
    display: flex
    flex-direction: column
    justify-content: flex-end !important
    align-items: flex-end

.column
  display: flex
  flex-direction: column
  &--start
    display: flex
    flex-direction: column
    align-content: center
    justify-content: flex-start !important
    align-items: flex-start

  &--end
    display: flex
    flex-direction: column
    justify-content: flex-end !important
    align-items: flex-end
.icon
  &--sm
    width: var(--size-5)
  &--lg
    width: var(--size-fluid-7)
.p--md
  padding: var(--size-4)
.grid
  display: grid
.gap
  gap: var(--size-fluid-8)
  &--xs
    gap: var(--size-fluid-2)
  &--sm
    gap: var(--size-fluid-4)

@media (max-width: 1440px)
  .only-desktop
    display: none
